@page
@model PN.Client.Views.Account.IndexModel
@{
}
<!DOCTYPE html>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#" class="logonusers btn btn-success universalWidth">Logon Users</a>
                                </td>
                                <td>
                                    <a href="#" class="addfld btn btn-success universalWidth">Send Message</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $('.logonusers').click(function () {
            var url = "/Account/LogonUsers";
            window.location.href = url;
        })
    </script>
}