@page
@model PN.Client.Views.Account.IndexModel
@{
}
<!DOCTYPE html>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div><b style="color:#a94442;" class="align-center">@ViewBag.Message</b></div>
            <div class="body">                
                <a href="#" class="logonusers btn btn-success universalWidth">Logon Users</a>
                <a href="#" id="sendButton" class="sendMessage btn btn-success universalWidth">Send Message</a>
                <div><strong>Uyarı!</strong><span id="messageSpan"></span></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $('.logonusers').click(function () {
            var url = "/Account/LogonUsers";
            window.location.href = url;
        })

        $('.sendMessage').click(function () {
            var url = "/Account/sendMessage";
            window.location.href = url;
        })
    </script>
}