@model List<PN.WebAPI.Entities.User>
@{
    ViewBag.Title = "Logon Users";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div><b style="color:#a94442;" class="align-center">@ViewBag.Message</b></div>
                <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Last Login Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@ViewBag.Message==null)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.lastlogindate)
                                        </td>
                                    </tr>
                                }

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
